# Prompt format
format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$cmd_duration\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = false

[git_branch]
symbol = " "
format = "[$symbol$branch]($style) "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[time]
disabled = false
format = "[$time]($style) "
time_format = "%H:%M"

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
